@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}

:root {
    /* font-size */
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-24: 24px;
    --fs-36: 36px;
    --fs-64: 64px;
    --fs-48: 48px;
    --fs-sm-30:30px;
    --fs-sm-55:55px;
    --fs-sm-32:24px;
    --fs-sm-20:20px;
    /* ---color-- */
    --color-white: #ffffff;
    ---color-blue: #2c49fe;
    ---color-bluelite: #01c8ff;
    ---color-black: #000000;
    ---color-gray: #cccccc;
    ---color-dark-gray: #666666;
    ---color-bluedark: #18205c;
    

}