@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}

:root {
    /* font-size */
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-24: 24px;
    --fs-36: 36px;
    --fs-64: 64px;
    --fs-48: 48px;
   --fs-sm-30: 30px;
    --fs-sm-55: 55px;
    --fs-sm-32: 24px;
    --fs-sm-20: 20px;
    --fs-sm-17: 17px;
    --fs-sm-30: 30px;
    --fs-sm-55: 55px;
    --fs-sm-32: 24px;
    --fs-sm-20: 20px;
    /* ---color-- */
    --color-white: #ffffff;
    ---color-blue: #2c49fe;
    ---color-bluelite: #01c8ff;
    ---color-black: #000000;
    ---color-gray: #cccccc;
    ---color-dark-gray: #666666;
    ---color-bluedark: #18205c;

}

.bg-img {
    background-image: url(../img/background-img.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menulist {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--color-white);
}

.free {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-24);
    font-weight: 700;
    line-height: 48.6px;
    color: var(---color-bluelite);
}

.logo-text {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-24);
    font-weight: 700;
    line-height: 48.6px;
    color: var(---color-blue);
}

.nav-btn {
    width: 118px;
    height: 46px;
    border-radius: 23px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--color-white);
    opacity: 0px;
    background-color: var(---color-blue);
    border: none;
    margin-left: 20px;
    margin-top: 40px;
}

.home-text {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    color: var(--color-white);
}

.events-text {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-48);
    font-weight: 600;
    line-height: 96px;
    color: var(--color-white);
}







@media (max-width: 991.9px) {
    .mobile_view {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 400ms linear;
        /* backdrop-filter: blur(90px); */
        background-color: var(---color-bluedark);
        z-index: 30;
    }

    .menu_1 {
        z-index: 50;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu_1 span:nth-child(1) {
        height: 4px;
        width: 35px;
        background-color: var(---color-gray);
        display: block;
        border-radius: 30px;
    }

    .menu_1 span:nth-child(2) {
        height: 4px;
        width: 35px;
        background-color: var(---color-gray);
        display: block;
        border-radius: 30px;
    }

    .menu_1 span:nth-child(3) {
        height: 4px;
        width: 35px;
        background-color: var(---color-gray);
        display: block;
        border-radius: 30px;
    }

    .menu_1 span {
        transition: all 400ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
        /* background-color: var(---color-dark-gray); */
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 10ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-15px);
        transition: 300ms linear;
        background-color: var(--color-white);
    }

    .right {
        left: 0;
    }

    .flex-col {
        flex-direction: column;
    }
}

@media (min-width:576px) {
    .w-100-sm {
        width: 100%;
    }

    .free,
    .logo-text {
        font-family: "Poppins", sans-serif;
        font-size: var(--fs-36);
        font-weight: 700;
        line-height: 48.6px;
        color: var(---color-bluelite);
    }

    .events-text {
        font-family: "Poppins", sans-serif;
        font-size: var(--fs-64);
        font-weight: 600;
        line-height: 96px;
        color: var(--color-white);
    }

    .nav-btn {
        margin-top: 0;
    }


}

.line1 {
    width: 188px;
    height: 8px;
    background: linear-gradient(to right, #2C49FE 85%, #01C8FF 15%);
    margin-top: 68px;
}

.choose {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-sm-30);
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    color: var(---color-black);
}

.lorem {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-sm-17);
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: var(---color-black);
}

.mainbox {
    width: 100%;
    height: 100%;
    border: 1px solid var(---color-gray);
    border-radius: 30px;
    padding: 35px 37px 30px 43px;
}

.go-btn {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    padding: 10px;
    background: var(---color-blue);
    color: var(--color-white);
    border: none;
    border-radius: 23px;
    width: 134px;
    margin-top: 32px;
    height: 46px;
}

.mt-24 {
    margin-top: 24px;
}

.go-btn:hover {
    color: var(---color-blue);
    background: var(--color-white);
    border: 1px solid var(---color-bluedark);
}

.img {
    border-radius: 20px;
}

.mainbox:hover {
    box-shadow: 0px 8px 35px 0px #0000001A;
    border: none;
    border-radius: 0%;
}

.mainbox:hover .img {
    border-radius: 0px;
}

@media (min-width:576px) {
    .lorem {
        font-size: var(--fs-sm-30);
    }

    .choose {
        font-size: var(--fs-48);
    }
}

@media (min-width:768px) {
    .lorem {
        font-size: var(--fs-24);
    }
}

@media (min-width:992px) {
    .lorem {
        font-size: var(--fs-24);
    }

    .choose {
        font-size: var(--fs-48);
    }
}